
<%= form_with method: :get do |form| %>
  <%= form.label :zip_code, "Zip code:" %>
  <%# <%= form.placeholder :zip_cde, "Please enter your zip code" %>
  <%= form.text_field :zip_code %>
  <%= form.submit "Submit" %>
<% end %>

<% if @current_temperature.present?%>
  <p>The current temperature at your location is <%= @current_temperature%> Fahrenheit.</p>
  <p>With <%= @condition.downcase%> conditions, a low of <%= @min_temp%> F and a high of <%= @max_temp%> F.</p>
<%end%>
