<h1>Your WeatherAPI forecast for today</h1>

<p> Find out more about the weather at your location by entering a zip code or city name* </p>
<%= form_with method: :get do |form| %>
  <%= form.label :location, "US zip code or city name:" %>
  <%= form.text_field :location, placeholder: "Please enter your zip code" %>
  <%= form.submit "Submit" %>
<% end %>


<% if @weather_attributes.present?%>
  <p>The current temperature in <%= @weather_attributes[:location_name]%> is 
    <%= @weather_attributes[:current_temp]%> F.
  </p>
  <p>Expect <%= @weather_attributes[:condition].downcase%> conditions, with a low of 
    <%= @weather_attributes[:min_temp]%> F and a high of 
    <%= @weather_attributes[:max_temp]%> F.
  </p>
<%end%>


<p>-------</p>
<p>* Pass US Zipcode, UK Postcode, Canada Postalcode, IP address, Latitude/Longitude 
    (decimal degree) or city name
</p>


